<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @company.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @company.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @company.zip_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
